
.container {
  max-width: 500px;
  margin: 50px auto;
  padding: 30px;
  border-radius: 50px;
  box-shadow: 0 6px 12px 0 rgba(0,0,0,0.2)

  }
  
  h2 {
    text-align: center; 
  }
  
  .alert {
    margin-bottom: 20px; 
  }
  