

<section class="hero">
    <div class="hero-content">
      <h1>Best food for your taste</h1>
      <p>Discover delectable cuisine and unforgettable moments in our welcoming, culinary haven.</p>
      <div class="hero-buttons">
        <button class="btn btn-primary">Book A Table</button>
        <button class="btn btn-secondary">Explore Menu</button>
      </div>
    </div>
    <!-- <div class="hero-image">
      <img src="../../assets/img/Mask group.png" alt="Food Image">
    </div> -->
  </section>
  
