<section class="event-services">
  <h2 class="text-start " style="margin: 50px 80px ;  font-size: 55px;">We also offer unique <br> services for your events</h2>
  <div class="services">
    
       <div class="service-item ">
          <img src="../../assets/img/kebab-set-table 1.png" alt="Catering">
          <h3>Caterings</h3>
          <p>In the new era of technology, we look in the future with certainty for life.</p>
      </div>
      <div class="service-item ">
          <img src="../../assets/img/1.png" alt="Birthdays">
          <h3>Birthdays</h3>
          <p>In the new era of technology, we look in the future with certainty for life.</p>
      </div>
      <div class="service-item ">
          <img src="../../assets/img/Mask group (1).png" alt="Weddings">
          <h3>Weddings</h3>
          <p>In the new era of technology, we look in the future with certainty for life.</p>
      </div>
      <div class="service-item ">
          <img src="../../assets/img/Mask group (2).png" alt="Events">
          <h3>Events</h3>
          <p>In the new era of technology, we look in the future with certainty for life.</p>
      </div>
    
     
  </div>
</section>