<footer class="footer">
  <div class="container">
    <div class="row">
      <!-- Logo and Description -->
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="logo-text my-5"> <img src="../../assets/img/Vector 1.png" alt="" class="me-3">Bistro Bliss</div>
        <p class="me-3 my-5 w-75">In the new era of technology we look a in the future with certainty and pride to for our company and.</p>
        <div class="social-icons">
          <a href="#"><i class="fab fa-facebook p-2 text-bg-danger rounded-5 mx-2"></i></a>
          <a href="#"><i class="fab fa-twitter p-2 text-bg-danger rounded-5 mx-2"></i></a>
          <a href="#"><i class="fab fa-instagram p-2 text-bg-danger rounded-5 mx-2"></i></a>
          <a href="#"><i class="fab fa-pinterest p-2 text-bg-danger rounded-5 mx-2"></i></a>
        </div>
      </div>

      <!-- Pages Links -->
      <div class=" col-md-2 mb-4">
        <h5 class="my-5">Pages</h5>
        <ul class="footer-links">
          <li><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Menu</a></li>
          <li><a href="#">Pricing</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="#">Contact</a></li>
          <li><a href="#">Delivery</a></li>
        </ul>
      </div>
      <div class=" col-md-2 mb-4">
        <h5 class="my-5">Pages</h5>
        <ul class="footer-links">
          <li><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Menu</a></li>
          <li><a href="#">Pricing</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="#">Contact</a></li>
          <li><a href="#">Delivery</a></li>
        </ul>
      </div>

      <!-- Instagram Images -->
      <div class="col-lg-4 col-md-6">
        <h5 class="my-4">Follow Us On Instagram</h5>
        <div class="instagram">
          <img src="../../assets/img/Mask group 5.png" alt="Dish 1">
          <img src="../../assets/img/Mask group (11).png" alt="Dish 2">
          <img src="../../assets/img/Mask group (22).png" alt="Dish 3">
          <img src="../../assets/img/Mask group (3).png" alt="Dish 4">
        </div>
      </div>
    </div>

    <!-- Copyright -->
    <div class="text-center mt-4 my-5">
      <p>Copyright &copy; 2023 Hosting Developer. All Rights Reserved</p>
    </div>
  </div>
</footer>