<div class=" py-5 fast-delivery-section">
  <div class=" container">
 <div class="row mx-auto ">
   
   
    <div class="row  col-md-6  imgs">
    <!-- Left Column: Chef Image -->
    <div class="col-md-7 d-flex align-items-end justify-content-center big-img">
      <img
        src="../../assets/img/mid-shot-chef-holding-plate-with-pasta-making-ok-sign 1.png"
        alt="Chef Image"
        class="img-fluid rounded chef-img"
      />
    </div>

    <!-- Right Column: Two Stacked Images -->
    <div class="col-md-4 d-flex flex-column small-imgs" style="position: relative; top: 35px;">
      <div class="mb-3">
        <img
          src="../../assets/img/sadj-iron-pot-with-various-salads 1.png"
          alt="Dish Image"
          class="img-fluid rounded small-img"
        />
      </div>
      <div>
        <img
          src="../../assets/img/sour-curry-with-snakehead-fish-spicy-garden-hot-pot-thai-food 1.png"
          alt="BBQ Image"
          class="img-fluid rounded small-img"
        />
      </div>
    </div>
  </div>
    <div class="col-md-4 text-container d-flex align-items-center flex-column"  >
    <h1>Fastest Food Delivery in City</h1>
    <p class="my-3">
      Our visual designer lets you quickly and easily drag & drop your way
      to custom pages for both desktop and mobile.
    </p>
    
   
    <ul class="list-unstyled  text-start  my-5" >
      <li class="mb-2 ">
        <i class="fa-regular fa-clock p-2 text-bg-danger rounded-5  mx-3 " style="vertical-align: middle;"></i>
        <strong>Delivery within 30 minutes</strong>
      </li>
      <li class="mb-2">
        <i class="fa-solid fa-envelope-open-text p-2 text-bg-danger rounded-5  mx-3"></i>
        <strong>Best Offer & Prices</strong>
      </li>
      <li class="mb-2">
        <i class="fa-solid fa-cart-shopping p-2 text-bg-danger rounded-5  mx-3"></i>
        <strong>Online Services Available</strong>
      </li>
    </ul>
  </div>
  </div>

  </div>
 
  
</div>
