<!-- <section class="apps-section bg-light text-center">
    <div class="container">
      <h2>You can order through apps</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipiscing elit enim bibendum sed et aliquet aliquet risus tempor semper.</p>
  
      <!-- App logos -->
      <!-- <div class="row justify-content-center">
        <div *ngFor="let app of apps" class="col-md-2">
          <img [src]="app.image" alt="{{app.name}}" class="img-fluid">
        </div>
      </div>
    </div>
  </section> --> -->
  
