

<div class="bid-container">


<section class="healthy-food">
    <div class="wrap-image">
        <img src="../../assets/img/Image.png" alt="Healthy Wraps">
        <div class="contact-overlay">
            <h2 style="margin-bottom: 50px; font-size: 30px;">Come and visit us</h2>
            <p style="margin-bottom: 20px;"><i class="fas fa-phone-alt" style="margin-right: 20px; "></i> <strong>Phone:</strong> (414) 857 - 0107</p>
            <p style="margin-bottom: 20px;"><i class="fas fa-envelope"style="margin-right: 20px;"></i> <strong>Email:</strong> happytummyrestaurant.com</p>
            <p style="margin-bottom: 20px;"><i class="fas fa-map-marker-alt"style="margin-right: 20px;"></i> <strong>Address:</strong> 837 W. Marshall Lane, Marshalltown, IA 50158, Los Angeles</p>
        </div>
    </div>
    <div class="big-text">
    <div class="text-content">
        <h1 style="font-size: 50px; margin-bottom: 30px;">We Provide Healthy Food for your Family</h1>
        <p style="margin-bottom: 30px; font-weight: 500; font-size: 18px;">Our story began with a vision to create a unique dining experience that merges fine dining, exceptional service, and a vibrant ambiance. Rooted in city's rich culinary culture, we aim to honor our local roots while infusing a global palate.</p>
        <p>At place, we believe that dining is not just about food, but also about the overall experience. Our staff, renowned for their warmth and dedication, strives to make every visit an unforgettable event.
            </p>
        <a href="#" class="more-btn">More About Us</a>
    </div></div>
</section>

</div>

